$main-color: #3F8CFF
$sub-color: #66748f

*
	padding: 0
	margin: 0
	box-sizing: border-box
	border: none
	text-decoration: none
	list-style: none
	user-select: none
	scroll-behavior: smooth

body
	font-family: 'Montserrat', Segoe UI, Tahoma, Geneva, Verdana, sans-serif
	background-color: #48494b
	color: #fff
	margin: 0
	padding: 0

	.app
		height: 100vh
		display: flex
		flex-direction: column
		align-items: center
		justify-content: flex-start
		overflow: hidden

		.header
			width: 100%
			height: 5vh
			overflow: hidden
			display: flex
			flex-direction: row
			align-items: center
			justify-content: space-between
			padding: .25vh 2vw
			background: rgba(255, 255, 255, 0.1)
			backdrop-filter: blur(10px)
			box-shadow: 5px 5px 50px rgb(0, 0, 0)
			

			.logo
				height: 100%
				display: flex
				flex-direction: row
				align-items: center
				justify-content: flex-start
				font-size: 1.5rem
				font-weight: 700
				color: $main-color
				letter-spacing: 2px
				cursor: pointer
				gap: .5vw

				.img-logo
					width: auto
					height: 100%
					aspect-ratio: 1 / 1

					img
						width: 100%
						height: auto
						border-radius: 100%

			.navbar
				height: 100%
				display: flex
				flex-direction: row
				align-items: center
				justify-content: flex-end
				gap: 3vw

				.nav-item
					font-size: 1rem
					font-weight: 500
					cursor: pointer
					transition: color .3s ease-in-out
					position: relative
					padding: .75vh .75vw
					color: #fff

					&::after
						content: ''
						position: absolute
						width: 100%
						height: 100%
						background-color: $main-color
						transition: .3s
						background: #fff
						left: 0
						top: 100%
						z-index: -1

					&:hover
						color: $main-color

						&::after
							height: 100%
							top: 0
							border-radius: 10px
	
		.container
			width: 100%
			height: calc(100% - 5vh)
			padding: 2vh 2vw
			overflow: hidden
			display: flex
			flex-direction: row
			align-items: flex-start
			justify-content: center
			gap: 10vw

			.section
				width: 100%
				height: fit-content
				overflow-y: auto
				padding-right: 1vw
				background: rgba(0, 0, 0, 0.199)
				padding: 2vh 2vw
				border-radius: 10px
				box-shadow: 0 8px 25px rgba(0, 0, 0, 0.45)
				border: 1px solid rgba(255, 255, 255, 0.25)
				backdrop-filter: blur(18px)

			
