* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
  user-select: none;
  scroll-behavior: smooth; }

body {
  font-family: "Montserrat", Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  background-color: #66748f;
  color: #fff;
  margin: 0;
  padding: 0; }
  body .app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden; }
    body .app .header {
      width: 100%;
      height: 5vh;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0.25vh 2vw;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      box-shadow: 5px 5px 50px black;
      position: fixed; }
      body .app .header .logo {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.5rem;
        font-weight: 700;
        color: #F7882F;
        letter-spacing: 2px;
        cursor: pointer;
        gap: 2vw; }
        body .app .header .logo .img-logo {
          width: auto;
          height: 100%;
          aspect-ratio: 1/1; }
          body .app .header .logo .img-logo img {
            width: 100%;
            height: auto;
            border-radius: 100%; }
      body .app .header .navbar {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 3vw; }
        body .app .header .navbar .nav-item {
          font-size: 1rem;
          font-weight: 500;
          cursor: pointer;
          transition: color 0.3s ease-in-out;
          position: relative;
          padding: 0.75vh 0.75vw;
          color: #fff; }
          body .app .header .navbar .nav-item::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #F7882F;
            transition: 0.3s;
            background: #fff;
            left: 0;
            top: 100%;
            z-index: -1; }
          body .app .header .navbar .nav-item:hover {
            color: #F7882F; }
            body .app .header .navbar .nav-item:hover::after {
              height: 100%;
              top: 0;
              border-radius: 10px; }
    body .app .container {
      width: 100%;
      height: calc(100% - 5vh);
      padding: 2vh 2vw;
      overflow: hidden;
      top: 5vh; }
      body .app .container .portfolio {
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        box-shadow: 5px 5px 50px black;
        border-radius: 15px;
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: 700;
        color: #fff;
        padding: 2vh 2vw;
        top: 7vh; }
      body .app .container .other-content {
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        box-shadow: 5px 5px 50px black;
        border-radius: 15px;
        display: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: 700;
        color: #fff;
        padding: 2vh 2vw;
        position: absolute;
        top: 100%; }
